.banner {
	width: 100%;
	height: 704px;
	background: url('/images/banner-bg.jpg') center  center no-repeat;
	display: table;
	.data {
		text-align: center;
		vertical-align: middle;
		height: 100%;
		display: table-cell;
	}
	.logo {
		font-family: 'Libre Caslon Text Bold';
		font-size: 3em;
		color: $primaryWhite;
		margin-bottom: 125px;
		position: relative;
		display: inline-block;
		padding-left: 100px;
		font-weight: bold;
		&:before {
			content: '';
			position: absolute;
			top: -15px;
			left: 0;
			width: 78px;
			height: 85px;
			background: url('/images/logo-large.png') center center no-repeat;
		}
		span {
			color: $baseGreen;
		}
	}
	.controls {
		margin-right: 10px;
		input[type='text'] {
			width: 475px;
		}
	}
	.btn-success {
		background-color: $baseDarkGreen;
		border-color: $baseDarkGreen; 
	}
	.form-inline {
		display: inline-block;
		width: 736px;
		font-family: 'Open Sans', Helvetica, Arial;
		.checkSuburb {
			float: left;
			color: $primaryWhite;
			font-weight: normal;
			label {
				margin-left: 5px;
				font-weight: normal;
				font-size: .9em;
			}
		}
	}
}
@media screen and (max-width:767px) {
		.banner {
			height: 215px;
			.form-inline {
				width: 100%;
	    		display: block;
	    		position: relative;
			}
			.controls {
				input[type='text'] {
					display: inline-block;
					width: 72%;
				}
			}
			.btn {
				position: absolute;
				bottom: 0;
				right: 68px;
			}
			.fa {
				position: absolute;
    			top: 10px;
    			right: 80px;
   				color: #39a637;
   				font-size: 1.3em;
			}
			.checkSuburb {
				width: 100%;
				text-align: left;
				input {
					height: 15px;
    				display: inline-block;
    				width: auto;
    				margin-left: 54px;
    				float: left;
				}
			}
		}
}