.header {
	position: relative;
	height: 110px;
	background-color: $baseBlue;
	color: $primaryWhite;
	font-family: 'Libre Caslon Text', 'Helvetica', Arial;
	padding: 0 0 50px;
	width: 100%;
	font-size: 1em;
	.secondaryNav {
		position: fixed;
		top:50px;
		display: table;
		background-color: $primaryWhite;
		width: 100%;
		left: 0;
		height: 50px;
		z-index: 10;
		font-family: 'Open Sans SemiBold', Helvetica, Arial;
		a {
			display: table-cell;
			width: 50%;
			height: 46px;
			border-bottom: 4px solid $baseGrey;
			text-align: center;
			vertical-align: middle;
			text-decoration: none;
			&.active {
				border-bottom: 4px solid $baseGreen;
				color: $baseGreen;
			}
		}
	}
	.navbar {
		background: $baseBlue;
		border: 0;
		z-index: 1;
		.navbar-header {
			.navbar-toggle, .navbar-toggle:hover, .navbar-toggle:focus {
				background: transparent;
				border: none;
				.icon-bar {
					background-color: $primaryWhite;
				}
			}
			.navbar-brand {
				padding-left: 50px;
				font-weight: bold;
				letter-spacing: .02em;
				position: relative;
				&:before {
					content: '';
					width: 28px;
					height: 31px;
					position: absolute;
					left: 15px;
					top: 10px;
					background: url('/images/logo.png') 0 0 no-repeat;
				}
				color: $primaryWhite;
				.green {
					color: $baseGreen;
				}
			}
		}
		.navbar-nav {
			li {
				font-family: 'Open Sans', Helvetica, Arial;
				> a {
					color: $primaryWhite;
					&:hover {
						color: #d6d809;
					}
				}
				&.active {
					> a {
						color: $primaryBlack;
					}
				}	
			}
		}
	}
	.signin {
		display: none;
	}
	@media (min-width: 768px) and (max-width: 1024px) {
		height: 60px;
		position: fixed;
		top: 0;
		z-index: 10;
	    .navbar-header {
	        float: none;
	        .navbar-brand {
	        	margin-left: 40%;
	        }
	    }
	    .navbar-left,.navbar-right {
	        float: none !important;
	    }
	    .navbar-toggle {
	        display: block;
	    }
	    .navbar-collapse {
	        border-top: 1px solid transparent;
	        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
	    }
	    .navbar-fixed-top {
			top: 0;
			border-width: 0 0 1px;
		}
	    .navbar-collapse.collapse {
	        display: none!important;
	    }
	    .navbar-nav {
	        float: none!important;
			margin-top: 7.5px;
		}
		.navbar-nav>li {
	        float: none;
	    }
	    .navbar-nav>li>a {
	        padding-top: 10px;
	        padding-bottom: 10px;
	    }
	    .collapse.in{
	  		display:block !important;
		}
		.content {
			width: 100%;
		}
		.secondaryNav {
			position: relative;
		    float: left;
		    background: transparent;
		    height: 50px;
		    padding: 10px 30px;
		    width: 30%;
		    z-index: 5;
		    top: 0;
		    a {
	    	    width: 50px;
			    display: inline-block;
			    border: 0;
			    height: auto;
			    font-size: 1.1em;
			    border: 0; 
			 	padding: 5px;
			    border-radius: 5px;
			    text-align: left;
			    &.active {
			    	border: 0;
			    	background: $baseGreen;
			    	color: $primaryWhite;
			    	text-align: center;
			    	margin-right: 15px;
			    }
		    }
		}
	}
	@media screen and (min-width:1025px) {
		height: 50px;
		.content {
			width: 100%;
		}
		.secondaryNav {
			position: relative;
		    float: left;
		    background: transparent;
		    height: 50px;
		    padding: 10px 0;
		    width: 20%;
		    top: 0;
		    display: block;
		    a {
	    	    width: 50px;
			    display: inline-block;
			    border: 0;
			    height: auto;
			    font-size: 1.1em;
			    border: 0; 
			 	padding: 5px;
			    border-radius: 5px;
			    text-align: left;
			    &.active {
			    	border: 0;
			    	background: $baseGreen;
			    	color: $primaryWhite;
			    	text-align: center;
			    	margin-right: 15px;
			    	&:hover {
						background-color: #72a50d;
					}
			    }
		    }
		}
		.navbar {
			position: relative;
		    margin: 0;
		    float: left;
		    width: 60%;
		    text-align: center;
		    .navbar-header {
		    	display: none;
		    }
		    .navbar-nav {
		    	text-align: center;
		    	float: none;
		    	li {
		    		float: none;
		    		display: inline-block;
		    		a {
		    			&:hover {
		    				color: #d6d809;
		    			}
		    		}
		    	}
		    }
		}
		.signin {
			font-family: 'Open Sans', Helvetica, Arial;
			float: right;
			display: inline-block;
			padding: 15px 0;
			a {
				color: $baseGreen;
				font-size: 1.1em;
				text-decoration: none;
			}
		}
	}
}